.project-post-wrapper{

    --page-bg:#984141;

    --accent:#8e5049;

    --accent-dark:#75443b;

    --accent-light:#d8766d;

    --link:rgb(226, 100, 100);

    --link-bg:rgb(164, 36, 36);
}

.project-image{
    border: 2px solid black;
}