.nav-select{
    display: inline-block;
    position: relative;
    top: -4.688vw;
    width: 15.625vw;
    height: 39.063vh;
    transition: top 0.3s ease;
}

.nav-select:hover{
    top: -6.25vw;
}

.sphere{
    border-radius: 100%;
    width: 15.625vw;
    height: 15.625vw;
    position: absolute;
    z-index: 2;
    transition: all 0.3s ease;
}

.rectangle{
    width: 15.625vw;
    height: 31.25vw;
    position: absolute;
    z-index: 1;
    top: 7.813vw;
}


.small-sphere{
    border-radius: 100%;
    width: 9.766vw;
    height: 9.766vw;
    position: absolute;
    z-index: 1;
    background-color: aliceblue;
    left: 50%;
    transform: translate(-50%,30%);
    overflow: hidden;
}

.nav-icon{
    width: 7.813vw;
    height: 7.813vw;
    top: 50%;
    transform: translateY(35%);
}


.nav-title{
    font-weight: 300;
    color: white;
    position: absolute;
    top: 17.188vw;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.344vw;
    
}

