.containerTitles{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 6.25vw;
    align-items: center;
    width: 99.7vw;
    height: 79.6vh;
    overflow: hidden;
}

.backTitle{
    display: inline-block;
    position: relative;
    z-index: 1;
}

.nav-selectors{
    position: absolute;
    top: 15.406vw;
    left: 50%;
    transform: translateX(-50%);
    width: inherit;
    z-index: 2;
}

.frontTitle{
    position: absolute;
    z-index: 3;
}

.subTitle{
    font-weight: 350;
    top:5.078vw;
    position: relative;
    color: black;
}

.welcome-page{
    position: relative;
}

/* App.css */
.hide-scrollbars {
    overflow: hidden;  
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbars::-webkit-scrollbar {
    display: none; /* Webkit browsers */
}


.main-sphere{
    border-radius: 100%;
    background-color: white;
    width: 3.906vw;
    height: 3.906vw;
    position: fixed;
    left: 47.656vw;
    top: 14.688vw;
    z-index: 8;
    transition: all 0.7s ease;
}

.main-sphere.clicked{
    width: 100%;
    height: 100%;
    border-radius: 0%;
    left: 0px;
    top: 0px;
}