.Resume-Page{
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.downloadtext{
    display: inline;
    font-size: 4vw;
    font-weight: 300;
}

.download-button{
    padding: 4vh 5vh;
    background-color: black;
    stroke:none;
    color: white;
    opacity: 50%;
    border-radius: 2vh;
    /* top: 10vh; */
    position: relative;
}

.download-icon{
    margin-right: 1.5vw;
}
.download-button:hover{
    opacity: 75%;
}

.download{
    display: block;
    position: relative;
    /* top: 10vh; */
}

.pageone{
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10vh;
    width: 80%;
    height: 50%;
}

@media (max-width: 800px) {
.pageone{
    margin-top: 3vh;
}
.download-icon{
    width: 4vw;
    height: 4vw;
}
}