.Resume-Page{

    min-height:100vh;

    overflow:hidden;
}

/* ---------- Meta ---------- */

.resume-meta{

    width:min(900px,92%);

    margin:1rem auto .75rem;

    text-align:center;

    color:white;

    opacity:.75;

    font-size:.9rem;

    letter-spacing:2px;

    text-transform:uppercase;
}

/* ---------- Download ---------- */

.resume-download{

    width:fit-content;

    margin:0 auto 4rem;

    display:flex;

    align-items:center;

    gap:.8rem;

    text-decoration:none;

    color:white;

    font-size:1.15rem;

    font-weight:600;

    transition:.2s;
    background-color: rgba(0, 0, 0, 0.287);
    padding: 1rem;
}

.resume-download:hover{

    transform:scale(1.05);

    opacity:.8;
}

.download-icon{

    width:22px;

    height:22px;
}

/* ---------- Resume Pages ---------- */

.resume-stack{

    display:flex;

    flex-direction:column;

    gap:5rem;

    margin-bottom:6rem;
}

.resume-page{

    width:min(900px,92%);

    display:block;

    margin:0 auto;

    background:white;

    border:2px solid black;

    box-shadow:12px 12px 0 rgba(0, 0, 0, 0.333);

    transition:
        transform .2s ease,
        box-shadow .2s ease;
}

.resume-page:hover{

    transform:translateY(-5px);

    box-shadow:16px 16px 0 rgba(0, 0, 0, 0.614);
}

/* ---------- Mobile ---------- */

@media(max-width:800px){

    .resume-download{

        font-size:1rem;

        margin-bottom:2.5rem;
    }

    .download-icon{

        width:18px;

        height:18px;
    }

    .resume-stack{

        gap:2rem;
    }

    .resume-page{

        box-shadow:6px 6px 0 black;
    }

    .resume-page:hover{

        transform:none;

        box-shadow:6px 6px 0 black;
    }
}


.resume-document{
    max-width: 1000px;
    margin: 4rem auto 8rem;
    padding: 5rem;

    background:#f4eee5;

    color:#222;

    border:2px solid black;

    box-shadow:12px 12px 0 black;

    text-align:left;

    line-height:1.8;
}

.resume-document h1{
    font-size:3rem;
    margin-bottom:2rem;
}

.resume-document h2{
    margin-top:3rem;
    margin-bottom:1rem;

    color:#9d492e;

    border-bottom:2px solid #e08257;
}

.resume-document p,
.resume-document li{
    font-size:1.2rem;
}