.Blog-Page{
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.blog-item {
    background: white;
    aspect-ratio: 1;

    padding: 2rem;

    display: flex;
    flex-direction: column;

    border: 2px solid black;

    box-shadow: 10px 10px 0 black;

    transition: 0.2s ease;

    color: black;
    text-align: left;
}

.blog-item:hover {
    transform: translate(-6px, -6px);

    box-shadow: 16px 16px 0 black;

    opacity: 1;
}

a{
    color: rgb(198, 21, 9);
}

.blog-title {
    font-size: 1.8rem;
    line-height: 1.1;

    margin-bottom: 1.5rem;
    color: #6d7b2e;
}

.blog-preview {
    flex: 1;

    font-size: 1rem;

    line-height: 1.5;

    color: #444;
}

.blog-main-title{
    font-size: 7vw;
    text-align: left;
    left: 10%;
    position: relative;
    color: white;
    margin-bottom: 0.75vw;
    margin-top: 2vh;
}

.blog-grid {
    width: 85%;
    margin: 2rem auto 6rem auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.blog-card-link {
    text-decoration: none;
}

.blog-date {
    margin-top: 2rem;

    font-size: 0.9rem;

    color: #777;

    letter-spacing: 1px;

    text-transform: uppercase;
}


@media (max-width: 1000px) {
    .blog-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .blog-grid {
        grid-template-columns: 1fr;
    }
}