.Blog-Page{
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.blog-item{
    text-align: left;
    color: white;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.6;
}

.blog-item:hover{
    opacity: 1;

}
.blog-title{
    font-size: 3.75vw;
    margin-bottom: 1vw;
}

.blog-preview{
    font-weight: 300;
    margin-bottom: 2vw;
    font-size: 3vw;
}

.blog-main-title{
    font-size: 7vw;
    text-align: left;
    left: 10%;
    position: relative;
    color: white;
    margin-bottom: 0.75vw;
    margin-top: 2vh;
}

.blog-main-title-underline{
    background-color: #B7A555;
    height: 1vw;
    width: 50%;
    position: relative;
    left: 10%;
    margin-bottom: 5vw;
}

.blog-date{
    font-size: 2vw; 
}

.blog-divider{
        height: 0.25vh;
        width: 80%;
        background-color: white;
        opacity: 50%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 8vh 0vh;    
}

@media (max-width: 800px) {
    .blog-divider{
        margin: 4vh 0vh;    
    }
}