.containerTitles{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 80px;
    align-items: center;
    width: 99.7vw;
    height: 79.6vh;
    overflow: hidden;
}

.backTitle{
    display: inline-block;
    position: relative;
    z-index: 1;
}

.nav-selectors{
    position: absolute;
    top: 210px;
    left: 50%;
    transform: translateX(-50%);
    width: inherit;
    z-index: 2;
}

.frontTitle{
    position: absolute;
    z-index: 3;
}

.subTitle{
    font-weight: 300;
    top:65px;
    position: relative;
}