.containerTitles{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 140px;
    align-items: center;
    width: 100%;
}

.backTitle{
    display: inline-block;
    position: relative;
    z-index: 1;
}

.nav-selectors{
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    width: inherit;
    z-index: 2;
}

.frontTitle{
    position: absolute;
    z-index: 3;
}
