/* ---------- Hero ---------- */

.weirds-hero {
  margin: 0;
  overflow: hidden;

  height: clamp(260px, 45vw, 520px);

  border-radius: 0;
}

.weirds-cover {
  width: 100%;
  height: 100%;

  display: block;

  object-fit: fit;
  object-position: center;

  background: #111;

  filter: grayscale(100%)
          sepia(25%)
          hue-rotate(35deg)
          saturate(110%);

  transition:
      transform .45s ease,
      filter .45s ease;
}

.weirds-cover:hover {
  filter: none;
  transform: scale(1.03);
}

/* ---------- Exhibition ---------- */

.weirds-exhibition {
  font-size: 0.8rem;
  font-weight: 700;

  letter-spacing: 4px;
  text-transform: uppercase;

  opacity: .45;

  margin-bottom: 1rem;
}

/* ---------- Theme ---------- */

.weirds-post-wrapper {
      position: relative;
    overflow: hidden;
  --page-bg: #26857a;

  --accent: #2f7b71;
  --accent-dark: #296a61;
  --accent-light: #5fb3a8;

  --link: black;
}

.weirds-bg{
    position:absolute;
    inset:0;

    background-size:cover;
    background-position:center;

    transform:scale(1.08);

    filter:
        blur(28px)
        grayscale(100%)
        saturate(120%);

    z-index:0;
}

.weirds-overlay{
    position:absolute;
    inset:0;

    background:
        linear-gradient(
            rgba(22,90,72,.45),
            rgba(28,110,88,.65)
        );

    mix-blend-mode: multiply;
}

.content-page{
    position:relative;
    z-index:1;
}

/* ---------- Weird Layout ---------- */

.weird-content-page {
  padding: 0;
  border: none;
}

.weird-content-body {
  padding: 100px 90px 80px;
}

/* ---------- Mobile ---------- */

@media (max-width:768px) {

  .weirds-hero {
    margin: 0 0 2rem;
    height: 220px;
  }

  .weird-content-body {
    padding: 48px 22px 40px;
  }

}